.nav-wrapper {
  background: white;
}

.nav-wrapper a,
.nav-wrapper ul li a {
  color: black;
}

.nav-wrapper img {
  height: 100%;
  width: auto;
}

.sidenav-trigger {
  color: black;
}

@font-face {
  font-family: "Edwardian Script";
  src: url(../fonts/Edwardian-Script-ITC.ttf);
}

.edwardian {
  font-family: "Edwardian Script";
}

.form_submit {
  background: #002060;
  margin-bottom: 10px;
  margin-top: -5px;
  margin-right: -25px;
}

#home {
  background-image: url("../images/home_background.jpg");
  height: 250px;
  background-size: contain;
  background-repeat: repeat-x;
}

#home_mobile {
  background-image: url("../images/home_background.jpg");
  height: 150px;
  background-size: contain;
  background-repeat: repeat-x;
  margin-bottom: 0px;
}
