.nav-wrapper {
  background: white;
}

.nav-wrapper a,
.nav-wrapper ul li a {
  color: black;
}

@font-face {
  font-family: "Edwardian Script";
  src: url(fonts/Edwardian-Script-ITC.ttf);
}
