.nav-wrapper {
  background: white;
}

.nav-wrapper a,
.nav-wrapper ul li a {
  color: black;
}

.nav-wrapper img {
  height: 100%;
  width: auto;
}

.sidenav-trigger {
  color: black;
}

@font-face {
  font-family: "Edwardian Script";
  src: url(../fonts/Edwardian-Script-ITC.ttf);
}

.edwardian {
  font-family: "Edwardian Script";
}

.form_submit {
  background: #002060;
  margin-bottom: 10px;
  margin-top: -5px;
  margin-right: -25px;
}

#home {
  background-image: url("../images/home_background.jpg");
  height: 250px;
  background-size: contain;
  background-repeat: repeat-x;
  margin-bottom: 0px;
}

#home_mobile {
  background-image: url("../images/home_background.jpg");
  height: 150px;
  background-size: contain;
  background-repeat: repeat-x;
  margin-bottom: -40px;
}

.btn:hover,
.btn:focus {
  background: lightgreen;
}

.input-field input:focus + label,
.input-field textarea:focus + label {
  color: lightgreen !important;
}

.input-field i {
  color: #002060 !important;
}

.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid lightgreen !important;
  box-shadow: 0 1px 0 0 lightgreen !important;
}

#about {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-content {
  text-align: justify;
}

.card-content p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.twitter {
  text-align: center;
}

#contact {
  background: #3f51b5;
  margin-bottom: 0px;
}

.gmap_canvas {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.gmap_canvas iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
